.env
.env.local
.env.development

api/bin/
api/obj/
api/.vs/
api/.vscode/
api/*.user
api/*.suo
api/build-verify
api/build-verify-dm
api/build-verify-redis


web/node_modules/
web/dist/
web/.vite/
web/.env
web/.env.local
web/.env.development

